{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Profile - {{ brand.name }}{% endblock %}

{% block content %}
<div class="container" style="padding-top: 100px;">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="form-custom" data-aos="fade-up">
                <h2 class="section-title">Edit Profile</h2>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h5 class="mt-3">Account Info</h5>
                    {% for field in u_form %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <h5 class="mt-4">Traveler Profile</h5>
                    {% for field in p_form %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary-custom w-100 mt-3">Update Profile</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
